@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
img {
	object-fit: cover;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
header, footer {
	min-width: 360px;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
	min-width: 360px;
}
#footer {
  background-color: #444;
  padding: 25px 0;
}
#footer p {
	margin: 0 25px;
	color: #aaa;
	font-size: .5rem;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  /*width: 100%;*/
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: .7rem;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 5px 40px 10px;
    background-color: #333E48;
    font-size: 1.5rem;
    margin: 0;
		/*list-style: none;*/
    /*width: calc(50% - 80px);*/
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
		color: white;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: white;
    text-decoration: underline;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: white;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
	height: 50vh;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  /*width: 100%;*/
  background-color: #3397DB;
  align-items: center;
	overflow: auto;
	padding:15px;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin-top: 10px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1rem;
  height: 50px;
  letter-spacing: 0;
  margin-bottom: 20px;
  padding: 0 9px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  /*min-height: 380px;*/
	padding:15px;
  text-align: left;
	margin-bottom:20px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  /*min-height: 248px;*/
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1rem;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  /* position: fixed;*/
  /* top: 0;*/
  /* width: 100%;*/
  /* z-index: 1000;*/
}
.inside #map-container {
  /*background: blue none repeat scroll 0 0;*/
  /*height: 87%;*/
  /*position: fixed;*/
  /*right: 0;*/
  /*top: 80px;*/
  /* remove and convert to flexbox | width: 50%;*/
	height: 450px;
	height: 70vh;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  /* bottom: 0;*/
  /* position: absolute;*/
  /*width: 50%;*/
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 1rem;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	/*width: 90%;*/
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 20px 5% 30px;
	/* remove and convert to flexbox | width: 50%;*/
}
#reviews-container {
  padding: 20px 5%;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1px;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 10px 20px 20px;
	/*overflow: hidden;*/
  /*position: relative;*/
  /*width: 85%;*/
}
#reviews-list li p {
  margin: 0 0 10px;
}
#reviews-list li p:first-of-type {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0;
}
#reviews-list li p:nth-of-type(2) {
	color:darkgrey;

}
#restaurant-hours {
	width:100%;
	font-size:1rem;
}
#restaurant-hours td {
  color: #666;
}

/* ====================== Flexbox ================================== */
header, main, footer {
	width:100%;
}
main {
	display: flex;
	flex-wrap: wrap;
}
main section {
	width:100%;
}
#restaurants-list {
	display: flex;
	flex-wrap: wrap;
}
.inside #map-container {
	order: 3;
}
.inside #restaurant-container {
	order: 1;
}
.inside #reviews-container {
	order:2;
}




/* ====================== breakpoints ====================== */
@media all and (min-width: 960px) {
	#restaurants-list li:nth-of-type(3n) {
		margin-right:0px;
	}
	#restaurants-list li {
		width:calc(33% - 41px);
		margin-right: 15px;
	}
	#restaurants-list li h1 {
		font-size: 1.5rem;
	}
	#restaurants-list li p:nth-of-type(2) {
		font-size: 1rem;
		min-height: 3em;
	}
	.inside #restaurant-container {
		background-color: lavender;
	}

	/* --- restaurant styles --- */
	.inside header {
	  width: 100%;
	}
	.inside #map-container {
	  background: blue none repeat scroll 0 0;
	  height: 300px;
		height: 60vh;
		order: 1;
	}
	.inside #restaurant-container {
		background-color: white;
		display: flex;
		flex-wrap:wrap;
		order: 2;
		padding:0;
	}
	.inside #restaurant-container h1 {
		margin:40px 5% 10px;
		order: 2;
		width:100%;
	}
	.inside #restaurant-container img {
		height: 60vh;
		margin:0 15px 10vh 5%;
		order:4;
		width:calc(55% - 15px);
	}
	.inside #restaurant-container #restaurant-cuisine {
		margin:0;
		padding: 5px 0;
		order:1;
		width:100%;
	}
	.inside #restaurant-container #restaurant-address {
		margin:0 5% 20px;
		order: 3;
		width:100%;
	}
	.inside #restaurant-container table {
		margin:0 5% 0 0;
		max-width: 500px;
		order:5;
		width: 35%;
	}
	.inside #restaurant-container tr, .inside #restaurant-container td {
    vertical-align: top;
	}
	.inside #reviews-container {
		order:3;
	}


}



/* ----- 721px -> 959px ----- */
@media all and (min-width: 721px) and (max-width: 959px) {
	#restaurants-list li {
		width: calc(50% - 42px);
		margin-right: 15px;
	}
	#restaurants-list li:nth-child(even) {
		margin-right: 0;
	}
	#restaurants-list li h1 {
		font-size: 1.5rem;
		min-height: 3em;
		}
	#restaurants-list li p:nth-of-type(2) {
		font-size: 1rem;
		min-height: 3em;
	}

	/* --- restaurant styles --- */
	.inside #restaurant-container {
		background-color: coral;
	}



	@media (orientation: landscape) {
		#map-container {
			background-color: #3397DB;
		}
		#map {
			width: 90%;
			right: -5%;
		}
		.inside #map {
			width: 100%;
			right: 0;
		}
		.filter-options {
			padding: 0 5%;
		}
		#restaurants-list {
			padding: 30px 5%;
		}
		#restaurants-list li {
			min-height: 0px;
		}
		#restaurants-list li h1 {
			font-size: 1.5rem;
	    min-height: 3em;
		}
		.restaurant-img {
			/* For both index.html and restaurant.html */
			/* VH / viewport units are currently supported by ~93% of global users */
			/* px for everyone else */
			height:150px;
			height:45vh;
		}

		/* --- restaurant styles --- */
		.inside #restaurant-container {
			background-color: orange;
		}
		#reviews-list li p {
			max-width:550px;
		}
	}
}


/* ----- 501px -> 720px ----- */
@media screen and (min-width: 501px) and (max-width: 720px) {
	.filter-options select {
		width: calc(50% - 7px);
	}
	#neighborhoods-select {
		margin-right:10px;
	}
	#restaurants-list .restaurant-img {
	}
	.inside #restaurant-container {
		background-color: aqua;
	}




		/* --- restaurant styles --- */


	@media (orientation: landscape) {
		#map {
			width: 90%;
			right: -5%;
		}
		.inside #map {
			width: 100%;
			right: 0;
		}
		#map-container {
			background-color: #3397DB;
		}
		.inside #map-container {
		}
		.filter-options {
			padding: 0 5%;
		}
		#restaurants-list {
			padding: 30px 5%;
		}
		#restaurants-list li {
			width:100%;
			position:relative;
		}
		.restaurant-img {
			/* For both index.html and restaurant.html */
			/* VH / viewport units are currently supported by ~93% of global users */
			/* px for everyone else */
			height:150px;
			height:50vh;
		}
		#reviews-list li p {
	    font-size: 1rem;
		}
		.inside #restaurant-container {
			background-color: blue;
		}



			/* --- restaurant styles --- */

	}
}



/* ----- 0px -> 500px ----- */
@media screen and (max-width: 500px) {
	/* --- home styles --- */
	.filter-options select {
		width:100%;
	}
	#restaurants-list li a {
		width:100%;
		padding: 8px 0 10px 0;
	}


	/* --- restaurant styles --- */
	.inside #breadcrumb {
		/*width:100%;*/

	}
	.inside #map-container {
	}
	.inside #restaurant-container {
		background-color: red;
	}
	.inside #reviews-container {
	}
	#reviews-list li p {
		font-size: 1rem;
	}

}
